<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Join</title>

    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<!--Nav bar-->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href=".">Dating Site</a>
</nav>

<!--Main container-->
<div class="container">
    <h1>Interests</h1>
    <hr>

    <form action="interests" method="post">
        <h4>Indoor Interests</h4>
        <check if="in_array('indoor', @errors)">
            <div class="alert alert-danger">Please select at least one indoor interest.</div>
        </check>

        <div class="row ml-2">
            <!-- 8x col-3 (1/4) = col-12 (2), 2 rows -->
            <repeat group="{{@indoor}}" value="{{@interest}}">
                <label class="col-3 float-left">
                    <input type="checkbox" name="indoor[]" value="{{@interest}}"
                    <check if="in_array(@interest, @SESSION.indoor)">checked</check>><span> {{@interest}}</span>
                </label>
            </repeat>
        </div>

        <h4>Outdoor Interests</h4>
        <check if="in_array('outdoor', @errors)">
            <div class="alert alert-danger">Please select at least one outdoor interest.</div>
        </check>

        <div class="row ml-2">
            <!-- 6x col-3 (1/4) = col-12 (1.5), 1.5 rows -->
            <repeat group="{{@outdoor}}" value="{{@interest}}">
                <label class="col-3 float-left">
                    <input type="checkbox" name="outdoor[]" value="{{@interest}}"
                    <check if="in_array(@interest, @SESSION.outdoor)">checked</check>><span> {{@interest}}</span>
                </label>
            </repeat>
        </div>

        <input type="submit" class="btn btn-primary float-right" value="Next >">

    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>