<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Summary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Dating Site</span>
</nav>

<div class="container">
    <h1>Personal Information</h1>
    <hr>
    <form action="profile" method="post">
        <div class="row">
            <div class="col-lg-8">
                <p class="w-75">
                    <b>First Name</b>
                    <br>
                    <input type="text" name="firstName" class="w-50 form-control">
                </p>

                <p class="w-75">
                    <b>Last Name</b>
                    <br>
                    <input type="text" name="lastName" class="w-50 form-control">
                </p>

                <p class="w-25">
                    <b>Age</b>
                    <br>
                    <input type="number" name="age" class="w-50 form-control">
                </p>

                <p class="w-50">
                    <b>Gender</b>
                    <br>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="male"><span> Male</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="female"><span> Female</span>
                    </label>
                </p>

                <p class="w-50">
                    <b>Phone Number</b>
                    <br>
                    <input type="text" name="phone" class="w-50 form-control">
                </p>
            </div>

            <div class="col-lg-4">
                <p class="mt-4 p-2 note">
                    <b>Note:</b> All information entered is protected by our
                    <span class="priv">privacy policy</span>. Profile information can only be viewed by others with your permission.
                </p>
            </div>
        </div>

        <input type="submit" class="btn btn-primary float-right" value="Next >">
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>