<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Join</title>

    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href=".">Dating Site</a>
</nav>

<div class="container">
    <h1>Interests</h1>
    <hr>

    <form action="summary" method="post">
        <h4>Indoor Interests</h4>
        <div class="row ml-2">
            <!-- 4x col-3 = 12, one row -->
            <label class="col-3 float-left">
                <input type="checkbox" name="indoor[]" value="tv"><span> tv</span>
            </label>
            <label class="col-3 float-left">
                <input type="checkbox" name="indoor[]" value="movies"><span> movies</span>
            </label>
            <label class="col-3 float-left">
                <input type="checkbox" name="indoor[]" value="cooking"><span> cooking</span>
            </label>
            <label class="col-3 float-left">
                <input type="checkbox" name="indoor[]" value="board-games"><span> board games</span>
            </label>

            <!-- 4x col-3 = 12, two rows -->
            <label class="col-3 float-left">
                <input type="checkbox" name="indoor[]" value="puzzles"><span> puzzles</span>
            </label>
            <label class="col-3 float-left">
                <input type="checkbox" name="indoor[]" value="reading"><span> reading</span>
            </label>
            <label class="col-3 float-left">
                <input type="checkbox" name="indoor[]" value="playing-cards"><span> playing cards</span>
            </label>
            <label class="col-3 float-left">
                <input type="checkbox" name="indoor[]" value="video-games"><span> video games</span>
            </label>
        </div>

        <h4>Outdoor Interests</h4>
        <div class="row ml-2">
            <!-- 4x col-3 = 12, one row -->
            <label class="col-3 float-left">
                <input type="checkbox" name="outdoor[]" value="hiking"><span> hiking</span>
            </label>
            <label class="col-3 float-left">
                <input type="checkbox" name="outdoor[]" value="biking"><span> biking</span>
            </label>
            <label class="col-3 float-left">
                <input type="checkbox" name="outdoor[]" value="swimming"><span> swimming</span>
            </label>
            <label class="col-3 float-left">
                <input type="checkbox" name="outdoor[]" value="collecting"><span> collecting</span>
            </label>

            <!-- 2x col-3 = 12, one and a half rows -->
            <label class="col-3 float-left">
                <input type="checkbox" name="outdoor[]" value="walking"><span> walking</span>
            </label>
            <label class="col-3 float-left">
                <input type="checkbox" name="outdoor[]" value="climbing"><span> climbing</span>
            </label>
        </div>

        <input type="submit" class="btn btn-primary float-right" value="Next >">

    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>