<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<!--Nav bar-->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href=".">Dating Site</a>
</nav>

<!--Main container-->
<div class="container">
    <div class="row">
        <!--Half width-->
        <div class="col-6">
            <ul class="list-group">
                <li class="list-group-item">Name: {{@SESSION.firstName}} {{@SESSION.lastName}}</li>
                <li class="list-group-item">Gender: {{@SESSION.gender}}</li>
                <li class="list-group-item">Age: {{@SESSION.age}}</li>
                <li class="list-group-item">Phone: {{@SESSION.phone}}</li>
                <li class="list-group-item">Email: {{@SESSION.email}}</li>
                <li class="list-group-item">State: {{@SESSION.state}}</li>
                <li class="list-group-item">Seeking: {{@SESSION.seeking}}</li>
                <li class="list-group-item">Interests: {{@SESSION.interests}}</li>
            </ul>
        </div>

        <!--Half width-->
        <div class="col-6">
            <img src="images/avatar.jpg" class="img-fluid rounded" alt="Avatar">
            <h4>Biography</h4>
            <p>{{@SESSION.bio}}</p>
        </div>
    </div>

    <!--text-center centers child elements-->
    <div class="text-center">
        <!--Do nothing-->
        <a class="btn btn-primary" href="#">Contact Me!</a>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>